<!DOCTYPE html>
<html>

<head>
    <head>
        <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>

<body>
    <!-- The below tag is using Bulma CSS. Try replacing line 14 with line 13. -->
    <!-- <div class="has-text-success-dark is-size-4  has-text-weight-medium"> -->
    <nav class="navbar">
    <a href="{{ url_for('home') }}" class="nav-link">Home</a>
    <a href="{{ url_for('all_pages') }}" class="nav-link">Pages</a>
    <a href="{{ url_for('about') }}" class="nav-link">About</a>
    </nav>

    <!-- The below tag is using Bulma CSS. Try replacing line 30 with line 29. -->
    <!-- <div class="content"> -->
    <div>
        {% block content %}{{ page_content }}{% endblock %}
    </div>

</body>

</html>